PORT=
CLIENT_URL=
DATABASE_URL=
DATABASE_SSL=
DEFAULT_CONVERSATION_ID=
MESSAGE_HISTORY_LIMIT=
NOTIFICATION_HISTORY_LIMIT=

FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_SERVICE_ACCOUNT_PATH=

APP_ANDROID_LATEST_VERSION_CODE=1
APP_ANDROID_LATEST_VERSION_NAME=1.0
APP_ANDROID_DOWNLOAD_URL=
APP_ANDROID_UPDATE_MESSAGE=YOU ARE USING AN OLD VERSION. Please update !!!